<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179670743079-3atj7dir320vsgd3khj0cjmou4au091t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179670743079-3atj7dir320vsgd3khj0cjmou4au091t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>179670743079-3rqdjjitdgtoiun9d83n2eurpshgk4v3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBfSyDw0aDLVwmtonPwKvetS9ocaXXIPiE</string>
	<key>GCM_SENDER_ID</key>
	<string>179670743079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cabe</string>
	<key>PROJECT_ID</key>
	<string>blockchain-payment</string>
	<key>STORAGE_BUCKET</key>
	<string>blockchain-payment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:179670743079:ios:753a2a7aa12da74139f602</string>
	<key>DATABASE_URL</key>
	<string>https://blockchain-payment.firebaseio.com</string>
</dict>
</plist>
